*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}
html::-webkit-scrollbar{
    display: none;
}
section{
    min-height: 350px;
    text-align: center;
}

.container{
    max-width: 1500px;
    width: 80vw;
    margin: auto;
}
.gray{
    color: #757575;
}
header{
    background-color: rgba(0, 0, 0, 0.49);
    position: fixed;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
}
header .nav{
    transition: margin-top 0.5s;
}
header ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: left;
    height: 100%;
    margin-left: 50px;
    font-size: 20px;
}
header ul li{
    padding: 20px;
}
header ul li a{
    text-decoration: none;
    color: white;
}
.scrolled{
    background-color: #202129;
    z-index: 2;
}
.burger{
    display: none;
    margin-left: 20px;
}
.welcome{
    background-size: cover;
    background: url("assets/aboutBg1.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 755px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 100px 0 0 50px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
}
.welcome__container{
    width: 50%;

}
.welcome__logo{
    display: flex;
    align-items: start;
}
.welcome__logo img{
    width: 200px;
    height: auto;
}
.welcome__janaozen{
    display: flex;
    align-items: end;
}
.welcome__janaozen img{
    width:150px;
    height: auto;
}
.welcome__logo-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.welcome__content{
    padding: 50px;
    text-align: left;
    flex-direction: column;
    height: 400px;
    max-width: 590px;
}
.welcome__content p{
    font-size: 20px;
    padding-top: 50px;
    line-height: 30px;
}

.welcome__content h1{
    font-size: 63px;
}

.welcome__content span{
    font-size: 33px;
}

.welcome__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.welcome-timer{
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.welcome__container ul{
    display: flex;
    justify-content: space-around;
}
.welcome-timer li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    min-width: 60px;
}

.welcome-timer li span {
    display: block;
    font-size: 4.5rem;
}

.welcome-timer .emoji {
    display: none;
    padding: 1rem;
}

.welcome-timer .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

@media all and (max-width: 768px) {
    .welcome-timer h1 {
        font-size: calc(1.5rem * .75);
    }

    .welcome-timer li {
        font-size: calc(1.125rem * .75);
    }

    .welcome-timer li span {
        font-size: calc(3.375rem * .75);
    }
}


.about{
    padding: 50px 0;
    min-height: 0;
    background: url("assets/aboutBg1.png") no-repeat  fixed;
    background-size: cover;
}
.about__info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__card{
    width: 100%;
    max-width: 25%;
    height: 170px;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #202129;
    color: white;
    padding: 15px;
    margin: 0 20px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 4px 24px -1px #0003;
    transition: transform 0.3s;
}
.about__card h3{
    height: 50px;
}
.about__card ul{
    margin-left: 15px;
}
.about__card:hover{
    transform: scale(1.5);
}


.registration{
    padding: 50px 0;
    background: url("assets/aboutBg1.png") no-repeat center center fixed;
    background-size: cover;
    text-align: left;
}

.registration .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.registration__img{
    text-align: left;
    overflow: hidden;
    padding: 0;
}
.registration__img img{
    max-width: 500px;
    border-radius: 10px;
    width: 100%;
}
.registration__card:hover{
    background-color: rgba(32, 33, 41, 0.74);
}
.registration__card h2{
    height: 50px;
}
.registration__card p{
    font-size: 20px;
    line-height: 35px;
}
.registration__container{
    width: 500px;
}
.registration button{
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
}
.group{
    position:relative;
    margin-bottom:45px;
}
input 				{
    font-size:18px;
    padding:10px 0;
    display:block;
    width:300px;
    color: white;
    border:none;
    border-bottom:3px solid black;
    background-color: transparent;
}
input:focus 		{ outline:none; }

label 				 {
    color: #ffffff;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    letter-spacing: 2px;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color: #ffffff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.bar 	{
    position:relative;
    display:block;
    width:300px;
    margin-left: 7px;
}
.bar:before, .bar:after 	{
    content:'';
    height:3px;
    width:0;
    bottom:0;
    position:absolute;
    background: #ffffff;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:53%;
}
/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
.button {
    display: flex;
    margin: 10px 0;
    padding: 12px 12px;

    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;

    color: #fff;
    border: 0 none;
    border-radius: 10px;
    letter-spacing: 2px;

    justify-content: center;
    width: 300px;
    align-items: center;

    box-shadow: 2px 2px 5px #e4e4e4;
}

.button.-regular {
    color: #202129;
    background-color: #a1a1a1;
}
.button.-regular:hover {
     color: #eeeeee;
     background-color: #484848;
     opacity: 1;
 }

.button.-regular:active {
     background-color: #ffb173;
     opacity: 1;
    box-shadow: none;
 }

footer{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #202129;
}

.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__container a{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    color: white;
    width: 100%;
    transition: width 0.5s,color 0.5s;
}

.footer__container a:hover{
    width: 105%;
    color: #ffb173;
}

.footer__container img{
    width: 30px;
    height: 30px;
}


.welcome .button{
    width: 100%;
    margin: 0;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 2px 2px 5px #262626;
}
.welcome__btn {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.welcome__btn a{
    text-decoration: none;
    margin: 10px 0;
    width: 70%;
}
.welcome .button:hover{
    width: 100%;
    margin: 0;
    background-color: #3a3a3a;
    color: white;
    box-shadow: 2px 2px 5px #e4e4e4;
}

.documents{
    background: url("assets/aboutBg1.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 300px;
    padding-top: 50px;
}
.documents__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 70vw;
    background:transparent;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #545454;
    padding: 25px 50px;
    margin:0 auto;
}
.documents a {
    text-decoration: none;
    color: white;
}


.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: 35px auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
    border-radius:5px 5px 15px 15px;
    overflow: hidden;
}
.modal-content ul{
    padding-left: 25px;
}

.modal-header h2,
.modal-footer h3 {
    margin: 0;
}

.modal-header {
    background: rgb(255, 171, 0);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-body {
    padding: 10px 20px;
    background: #fff;
    color: black;
}

.close {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.checkbox-wrapper {
    display: inline-block;
    cursor: pointer;
    position: static;
    pointer-events: auto;
}
.checkbox-wrapper a{
    text-decoration: none;
    color: #ffb173;
}
.checkbox-wrapper #modal-link{
    color: #ffb173;
}

.checkbox {
    display: none;
}

.checkbox-label {
    position: relative;
    padding-left: 30px;
    user-select: none;
}

.checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.checkbox:checked + .checkbox-label .checkbox-custom {
    background-color: #2196F3;
}

.checkbox:checked + .checkbox-label .checkbox-custom::before {
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .welcome{
        flex-direction: column;
        padding: 0;
        text-align: center;
    }
    .welcome__container{
        margin: 0 auto;
    }
    .welcome__content{
        text-align: center;
        height: auto;
        margin: 60px auto;
    }
    .welcome__logo-content{
        align-items: center;
        width: 100%;
    }

    .welcome__btn{
        width: 80%;
        margin: 10px auto;
    }
    .welcome__btn a{
        width: 100%;
    }
    .welcome__content h1{
        font-size: 36px;
    }
    .about__info{
        display: flex;
        flex-direction: column;
    }
    .about__card{
        max-width: 80%;
        margin: 10px;
        height: auto;
    }
    .about__card h3{
        height: 50px;
    }
    .registration .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .registration__container{
        width: 300px;
        padding-top: 50px;
        order: 2;
    }
    .modal-content{
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    .welcome__content{
        padding: 0;
    }
    .burger{
        display: block;
    }
    header ul{
        flex-direction: column;
        margin: 0;
        align-items: start;
    }
    header .nav{
        display: none;
    }
    header .open{
        margin: 320px auto 0 auto;
        display: block;
        z-index: 0;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #5d0202;
        width: 80vw;
        border-radius: 10px;
    }
    footer{
        height: 80px;
    }
    .footer__container{
        flex-direction: column;
        align-items: start;
        height: 80px;
        justify-content: space-around;
    }
}


